<div class="app-content">
  <div class="app-content__wrapper">
    <div class="app-content__inner">
      <div class="app-content__content">
        <div class="app-content__box">
          <app-page-heading></app-page-heading>
          <app-stats></app-stats>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="app-content">
    <div class="app-content__wrapper">
      <div class="app-content__inner">
        <div class="app-content__content">
          <div class="app-content__box">
            <app-table></app-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
