<footer class="app-footer" aria-labelledby="footer-heading">
  <div class="app-footer__wrapper">
    <div class="app-footer__grid">
      <div class="app-footer__sub-grid app-footer__sub-grid_span-2">
        <div class="app-footer__sub-grid">
          <div>
            <h3 class="app-footer__title">Документы</h3>
            <ul role="list" class="app-footer__list">
              <li>
                <a href="#" class="app-footer__link">Приказы ЦБ РФ</a>
              </li>
              <li>
                <a href="#" class="app-footer__link">Инструкции</a>
              </li>
              <li>
                <a href="#" class="app-footer__link">Советы</a>
              </li>
            </ul>
          </div>
          <div>
            <h3 class="app-footer__title">Поддержка</h3>
            <ul role="list" class="app-footer__list">
              <li>
                <a href="#" class="app-footer__link">Моральная</a>
              </li>
              <li>
                <a href="#" class="app-footer__link">Материальная</a>
              </li>
              <li>
                <a href="#" class="app-footer__link">Психологическая</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="app-footer__sub-grid">
          <div>
            <h3 class="app-footer__title">Ссылки</h3>
            <ul role="list" class="app-footer__list">
              <li>
                <a href="#" class="app-footer__link">Ссылка 1</a>
              </li>
              <li>
                <a href="#" class="app-footer__link">Ссылка 2</a>
              </li>
              <li>
                <a href="#" class="app-footer__link">Ссылка 3</a>
              </li>
            </ul>
          </div>
          <div>
            <h3 class="app-footer__title">Процедуры</h3>
            <ul role="list" class="app-footer__list">
              <li>
                <a href="#" class="app-footer__link">Процедура 1</a>
              </li>
              <li>
                <a href="#" class="app-footer__link">Процедура 2</a>
              </li>
              <li>
                <a href="#" class="app-footer__link">Процедура 3</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="app-footer__stand-alone">
        <h3 class="app-footer__title">Сообщите об ошибке</h3>
        <p class="app-footer__text">Ошибки, риски, инциденты.</p>
        <form class="app-footer__form">
          <label for="email-address" class="app-footer__label">Адрес электронной почты</label>
          <input type="email" name="email-address" id="email-address" autocomplete="email" required
                 class="app-footer__input" placeholder="Ваш email">
          <div class="app-footer__action">
            <button type="submit" class="app-footer__button">Сообщить об ошибке</button>
          </div>
        </form>
      </div>
    </div>
    <div class="app-footer__sub-footer">
      <div class="app-footer__content">
        <p class="app-footer__text app-footer__text_sub">&copy; 2023 1993 - 2023 КБ «Кубань Кредит» ООО</p>
        <p class="app-footer__text app-footer__text_sub">Генеральная лицензия на осуществление банковских операций №2518 Банка России от 3 июля 2012
          года.</p>
      </div>
    </div>
  </div>
</footer>
