<div class="app-input-group">
  <div class="app-input-group__wrapper">
      <label for="name1" class="app-input-group__label">ФИО</label>
      <input type="text" name="name1" id="name1" class="app-input-group__input" placeholder="Гончаров Алексей Сергеевич">
  </div>
  <div class="app-input-group__wrapper">
      <label for="name2" class="app-input-group__label">Подразделение</label>
      <input type="text" name="name2" id="name2" class="app-input-group__input" placeholder="УЗИ">
  </div>
  <div class="app-input-group__wrapper">
      <label for="name3" class="app-input-group__label">Дата выявления инцидента</label>
      <input type="text" name="name3" id="name3" class="app-input-group__input" placeholder="16.05.2023">
  </div>
  <div class="app-input-group__wrapper">
      <label for="name4" class="app-input-group__label">Дата выявления инцидента</label>
      <input type="text" name="name4" id="name4" class="app-input-group__input" placeholder="16.05.2023">
  </div>
  <div class="app-input-group__wrapper">
      <label for="name5" class="app-input-group__label">Дата регистрации инцидента</label>
      <input type="text" name="name5" id="name5" class="app-input-group__input" placeholder="16.05.2023">
  </div>
</div>
