<main class="app-not-found">
  <img ngSrc="../../../assets/images/page-404.jpeg" alt="Страница не найдена" class="app-not-found__img"
       height="2440" width="3050">
  <div class="app-not-found__wrapper">
    <p class="app-not-found__text">404</p>
    <h1 class="app-not-found__heading">Страница не найдена</h1>
    <p class="app-not-found__text">Увы, страница, которую Вы ищете не существует.</p>
    <div class="app-not-found__action">
      <a href="#" class="app-not-found__link"><span aria-hidden="true">&larr;</span>Назад к инцидентам</a>
    </div>
  </div>
</main>
