<div class="app-user-card">
  <div class="app-user-card__detail-list">
    <div class="app-user-card__detail-description">
      <h3 class="app-user-card__title">Дрожжина Елена Владимировна</h3>
      <span class="app-user-card__role app-user-card__role_admin">Администратор</span>
<!--      <span class="app-user-card__role app-user-card__role_user">Пользователь</span>-->
<!--      <span class="app-user-card__role app-user-card__role_control">Контролёр</span>-->
    </div>
    <p class="app-user-card__text">Главный специалист</p>
    <div class="app-user-card__status">
      <p class="app-user-card__status-text">В сети</p>
      <div class="app-user-card__status-mark app-user-card__status-mark_online">
        <div class="app-user-card__status-mark_inner"></div>
      </div>
    </div>
  </div>
  <div class="app-user-card__profile">
        <span class="app-user-card__avatar">
          <img class="app-user-card__image" ngSrc="../../assets/images/photo-asian.jpeg" alt="сотрудник" width="256" height="256">
<!--          <span class="app-user-card__status"></span>-->
        </span>
  </div>
</div>
